aniso8601==8.0.0
attrs==19.3.0
autopep8==1.5.3
click==7.1.2
flake8==3.8.3
Flask==1.1.2
flask-restplus==0.13.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
pyrsistent==0.16.0
pytz==2020.1
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
